.login{
  width: 400px;
  height: 390px;
 
}

form input[type="email"]{
  text-transform: lowercase;
}



.modal-content{
  border: none;
  
  width: 100%;
  align-items: center;
  
}
.title{
  color: #e98401;
  font-size: 38px;
  font-weight: 500;
  
}
.description{
  color:grey;
  position: relative;
  font-size: 16px;
  padding: 15px;
  
}
.control{
  padding-bottom: 10px;
  width: 100%;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  margin-left: 370px;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
.signup-link{
  text-decoration: none;
  cursor: pointer;
  
}
.signup-link:hover{
  text-decoration: underline;
}