<!-- home section start -->
<section class="home" id="home">
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">Lorem</div><br>
            <div class="text-2">Lorem, ipsum dolor.</div><br>
            <div class="text-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
            <a href="#">Watch Live</a>
        </div>
    </div>
</section>

<!-- services section start -->
<section class="services" id="services">
    <div class="max-width">
        <h2 class="title">Our Services</h2>
        <div class="serv-content">
            <div class="card">
                <a href="#" class="fclinks">
                    <div class="box">
                        <i class="iconify" data-icon="emojione-monotone:kitchen-knife"></i>
                        <div class="text">Lorem</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sequi libero ad similique. Explicabo, necessitatibus.</p>   
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#" class="fclinks">
                    <div class="box">
                        <i class="iconify" data-icon="mdi:spray-bottle"></i>
                        <div class="text">Sanitized</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sequi libero ad similique. Explicabo, necessitatibus.</p>   
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#" class="fclinks">
                    <div class="box">
                        <i class="iconify" data-icon="material-symbols:cleaning-services-sharp"></i>
                        <div class="text">Ipsum</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sequi libero ad similique. Explicabo, necessitatibus.</p>   
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#" class="fclinks">
                    <div class="box">
                        <i class="iconify" data-icon="fa-solid:box-tissue"></i>
                        <div class="text">Cleaning</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sequi libero ad similique. Explicabo, necessitatibus.</p>   
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#" class="fclinks">
                    <div class="box">
                        <i class="iconify" data-icon="fa:group"></i>
                        <div class="text">People Friendly</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sequi libero ad similique. Explicabo, necessitatibus.</p>   
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#" class="fclinks">
                    <div class="box">
                        <i class="iconify" data-icon="icon-park-outline:air-conditioning"></i>
                        <div class="text">Air Conditioned</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sequi libero ad similique. Explicabo, necessitatibus.</p>   
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
