.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
  .navbar.sticky{
      padding: 15px 0;
      background: #e98401;
  }
  .navbar .max-width{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .navbar .logo a{
      color: #fff;
      font-size: 30px;
      font-weight: 600;
      margin-right: 110px;
      
  }
   
  .navbar .logo a span{
      color: #e98401;
      transition: all 0.3s ease;
  }
  .navbar.sticky .logo a span{
      color: #fff;
  }
  .navbar .menu li{
      list-style: none;
      display: inline-block;
  }
  .navbar .menu li a{
      display: block;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      margin-left: 25px;
      transition: color 0.3s ease;
  }
  .navbar .menu li a:hover{
      color: #e98401;
  }
  .menu-btn{
    text-decoration: none;
  }
  .navbar.sticky .menu li .menu-btn:hover{
      color: #fff;
      transition: all 0.3s ease;
  }
  .logreg{
      display: inline-block;
      background: #e98401;
      color: #fff;
      font-size: 25px;
      padding: 12px 36px;
      margin-top: 20px;
      border-radius: 6px;
      border: 2px solid #e98401;
      transition: all 0.3s ease;
      text-decoration: none;
  }
  .logreg:hover{
      background: none;
      border: 2px solid #e98401;
      transition: all 0.3s ease;
      cursor: pointer;
  }
  .navbar.sticky .logreg:hover{
      background: #000;
      color: #e98401;
      transition: all 0.3s ease;
  }
  /* menu btn styling */
  .menu-btn{
      color: #fff;
      font-size: 23px;
      cursor: pointer;
      display: none;
  }
  .navbar .home-content a{
      display: inline-block;
      background: #e98401;
      color: #fff;
      font-size: 25px;
      padding: 12px 36px;
      margin-top: 20px;
      border-radius: 6px;
      border: 2px solid #e98401;
      transition: all 0.3s ease;
  }
  
  /* Responsive styling */
  
  @media (max-width: 991px){
      .max-width{
          padding: 0 50px;
      }
  }
  
  @media (max-width: 947px){
      .menu-btn{
          display: block;
          z-index: 999;
      }
      .menu-btn i.active:before{
          content: "\f00d";
      }
      .navbar .menu{
          position: fixed;
          height: 100vh;
          width: 100%;
          left: -100%;
          top: 0;
          background: #111;
          text-align: center;
          padding-top: 80px;
          transition: all 0.3s ease;
      }
      .navbar .menu.active{
          left: 0;
      }
      .navbar .menu li{
          display: block;
      }
      .navbar .menu li a{
          display: inline-block;
          margin: 20px 0;
          font-size: 25px;
      }
      .home .home-content .text-2{
          font-size: 70px;
      }
      .home .home-content .text-3{
          font-size: 35px;
      }
      .home .home-content a{
          font-size: 23px;
          padding: 10px 30px;
      }
      .max-width{
          max-width: 800px;
      }
      .about .about-content .column{
          width: 100%;
      }
      .about .about-content .left{
          display: flex;
          justify-content: center;
          margin: 0 auto 60px;
      }
      .about .about-content .right{
          flex: 100%;
      }
      .services .serv-content .card{
          width: calc(50% - 10px);
          margin-bottom: 20px;
      }
      .skills .skills-content .column,
      .contact .contact-content .column{
          width: 100%;
          margin-bottom: 35px;
      }
  }