.navbar{
    /* background: #56bcb0; */
    /* background-color: #000; */
    transition: all.5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 16.5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
    overflow-y: scroll;
  /* background: #c31432;  
background: -webkit-linear-gradient(to right, #240b36, #c31432); 
background: linear-gradient(to right, #240b36, #c31432); */

/* background: #2980b9; 
background: -webkit-linear-gradient(to right, #2c3e50, #2980b9); 
background: linear-gradient(to bottom, #2c3e50, #2980b9);  */


 background: #43cea2;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to top, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navbar::-webkit-scrollbar{
    display: none;
}
.logo-container{
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;

}
.logo-text{
    margin-left: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;

    }
.btn-close{
     margin-left: auto;
     cursor: pointer;
     width: 2rem;
     height: 2rem;
     border-radius: 50%;
     background-color: transparent;
     border: none;

    }

.logo{
    background: #fff;
    text-align: center;
    width: 3rem;
    min-width: 3rem;

    border-radius: 0.313rem;
    padding: 0.313rem;
    font-size: 24px;
    cursor: pointer;
    border: none;
}
.fa-times{
    color: #fff;
    font-size: 24px;
}
.navbar-collapsed{
    width: 16.5rem;
}

.navbar-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;
}
.navbar-item{
    width: 100%;
    margin-bottom: 0.625rem;
   
}
 .navbar-link{
    display: flex;
    align-items: center;
    height: 3rem;
    color: #f3f3f3;
    text-decoration: none;
    border-radius:0.625rem;
    transition: all .3s ease;
}
.navbar-link-icon{
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
}
.navbar-link-text{
    margin-left: 1.5rem;
}
.navbar-link:hover {
    background-color: #fff;
    color: #000;

}


