<app-admin-navbar></app-admin-navbar>
<router-outlet> </router-outlet>
<div class="ms-content-wrapper">
    <div class="ms-panel">
        <div class="ms-panel-header">
            <h6 class="menulist">Booking List</h6>
            <hr>

            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="data-table-5" class="table  thead-primary dataTable no-footer" role="grid"
                            aria-describedby="data-table-5_info" style="width: 843px;">
                            <thead class="thead">
                                <tr>
                                    <th scope="col">BookingId</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Venue</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">People</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Phone Number</th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr *ngFor="let booking of bookingDetails">
                                    <td>{{booking.bookingId}}</td>
                                    <td>
                                        {{booking.fullName}}
                                    </td>
                                    <td>{{booking.venue}}</td>
                                    <td>{{booking.time}}</td>
                                    <td>{{booking.people}}</td>
                                    <td>{{booking.date}}</td>
                                    <td>{{booking.phoneNumber}}</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
            <!-- <router-outlet></router-outlet> -->
        </div>
    </div>
</div>